[Unit]
Description=Update wallpaper by sun position

[Service]
Type=oneshot
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
Environment=DISPLAY=:0
ExecStart=%h/bin/daycycle-wallpaper.sh
